# dependencies
node_modules/

# application
npm-debug.log
yarn-error.log
config/db-config.json
config/map-config.json
public/app/bundle.js.map
api/access.log
prod/access.log
api/data-uploads

# miscellaneous
db/data/sample-data.csv
.DS_Store
