.data-table-wrapper {
   width: 100%;
   overflow: auto;
   border: 1px solid $grey-md;
   background-color: $light-color;
   position: relative;
   padding-bottom: 53px;

   .data-table {
      width: 100%;
      text-align: center;
      border-collapse: collapse;

      thead {
         tr {
            background-color: $grey-md;
            border-bottom: 1px solid $grey-md;
         }
         th {
            padding-top: 10px;
            padding-bottom: 10px;
            min-width: 100px;
         }
      }

      tbody {
         tr:hover {
            cursor: pointer;
            background-color: rgba($accent-color, 0.15) !important;
         }
         tr:nth-child(even) {
            background-color: $grey-lt;
         }
         td {
            padding: 8px 10px;
            border: 1px solid $grey-md;
            min-width: 100px;
         }
      }
   }

   .data-table-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px 15px;
      background-color: $grey-md;
      display: flex;
      justify-content: flex-end;
      button {
         padding: 8px 15px;
         border: none;
         background-color: $grey-dk;
         border-radius: 3px;
         &:first-of-type {
            margin-right: 15px;
         }
         &:hover {
            cursor: pointer;
            opacity: 0.75;
         }
         &:disabled {
            opacity: 0.45;
            cursor: not-allowed;
         }
      }
   }
}
