#login-wrapper {
   .jumbotron-content {
      max-width: 350px;
      img {
         height: 50px;
         width: 50px;
      }
      p {
         margin-bottom: 25px;
      }
      button {
         margin-right: 0;
      }
   }
}
