<!DOCTYPE html>
<html>
   <head>
      <title>Crossroads - <%= title %></title>
		<link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <h1 style="font-family:'Titillium Web';text-align:center;color:#232323;margin-top:50px;">
         <%= message %>
      </h1>
   </body>
</html>
